* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS */

:root {
    --cor-de-fundo: #121212;
}

/* GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Seletores gerais */

body {
    background: var(--cor-de-fundo);
    color: #cacaca;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Seletores específicos */

/* ESTRUTURA */

#cabecalho {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

#cabecalho ul {
    display: flex;
    flex-direction: column;
}

#cabecalho li {
    margin-top: 5px;
}

#hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid red;
    margin: 10px;

}

#hero img {
    width: 80%;
    margin: 20px auto;
}

#container-beneficios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    border: 1px solid red;
}










