* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* VARIÁVEIS */

:root {
  --cor-de-fundo: #0b0c10;
  --cor-texto: #c5c6c7;
  --cor-destaque: #66fcf1;
}

/* GOOGLE FONTS*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Seletores gerais */

body {
  background: var(--cor-de-fundo);
  color: var(--cor-texto);
  font-family: "Montserrat", sans-serif;
  padding: 100px 20px 0 20px;
}

a {
  text-decoration: none;
  color: var(--cor-texto);
}

li {
  list-style: none;
}

/* Seletores específicos */

/* ESTRUTURA */

#cabecalho {
  /*nav bar transparente*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: background-color 0.5s, padding 0.5;
  

  /*Estrutura sem o nav bar*/

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 1000;
}

#cabecalho.rolagem {
  background-color: #0b0c10;
  box-shadow: 0px 4px 15px rgba(102, 252, 241, 0.1);
}

#cabecalho ul {
  display: flex;
  flex-direction: column;
}

#cabecalho li {
  margin: 5px 0 15px 0;
}

.btn-mobile {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: block;
}

#cabecalho nav #menu-lista {

  display: none;
  position: absolute;
  background: #000;
  top: 70px;
  right: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
}

#cabecalho nav #menu-lista.ativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-bottom: var(--cor-destaque);
}

#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

#hero img {
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 25px var(--cor-destaque);
  border: 1px solid var(--cor-destaque);
  order: -1;
}

#hero p {
  padding: 10px;
}

.hero-conteudo .botao-destaque {
  margin-top: 10px;
  display: inline-block;
}

.seletor-cores {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.bolinha {
  width: 30px;
  border: 2px solid #fff;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.cor-azul {
  background-color: #3773fe;
}
.cor-branca {
  background-color: #fff;
}
.cor-preto {
  background-color: #111;
}

#container-beneficios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  gap: 20px;

  /*JAVASCRIPT*/
  opacity: 0;
  transform: translate(50px);
  transition: all 1s ease;
}

.card.aparecer {
  opacity: 1;
  transform: translate(0);
}

.card img {
  width: 90px;
  height: 90px;
  margin: 20px;
}

.espacamento-imagem {
  padding: 1em;
}

.card-info {
  padding: 10px;
}

.card-info p {
  margin-top: 1em;
}

#rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 20px 0;
}

#redes-sociais {
  display: flex;
}

#redes-sociais img {
  width: 50px;
  margin: 1em;
}

#btn-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  

  background: var(--cor-destaque);
  color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

}

#btn-topo.visivel {
  opacity: 1;
  visibility: visible;
}

/* ESTILIZAÇÃO */

#logo-marca {
  font-family: "Oxanium", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--cor-texto);
  letter-spacing: 2px;
}

.destaque-logo {
  color: var(--cor-destaque);
}

.botao-destaque {
  background: var(--cor-destaque);
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 700;
  color: var(--cor-de-fundo);
}

.card img,
#redes-sociais img {
  background-color: var(--cor-texto);
  padding: 5px;
  border-radius: 5px;
}

#faq {
  padding: 60px 40px;
  max-width: 800px;
  margin: 0 auto;
}

#faq h2 {
  text-align: center;
  margin-bottom: 21px;
  font-size: 1.7rem;
}

.accordion {
    background-color: #1a1b20;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.4s;
    
    display: flex;
    justify-content: space-between;

}

.panel {
    padding: 0 18px;
    background-color: #0b0c10;
    color: #a0a0a0;
    margin-bottom: 2px;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.2s ease-out;
}

.panel p {
  padding: 15px 0;
}

#newsletter {
    padding: 80px 20px;
    background: linear-gradient(to bottom, #0b0c10, #1a1b20);
    text-align: center;
}

#newsletter h2 { 
  font-size: 2rem; 
  margin-bottom: 10px; 

}
#newsletter p { 
  color: #a0a0a0; 
  margin-bottom: 20px; 
}

#form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

#campo-email {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #333; 
    background-color: #0b0c10;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}


.mensagem-erro {
    color: #ff4444; 
    font-size: 0.8rem;
    text-align: left;
    margin-top: 20px;
    padding-left: 10px;
    display: none;
}


/* RESPONSIVIDADE */

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
  }

  #cabecalho {
    padding: 10px 10%;
  }
  
  #hero,
  #container-beneficios,
  #rodape {
    max-width: 1200px;
    padding: 0 20px;
  }

  #cabecalho {
    margin-top: 1em;
    margin: 0;
    
  }

  #cabecalho nav ul {
    flex-direction: row;
    gap: 40px;
    padding: 10px;
    align-items: center;
  }

  .btn-mobile {
    display: none;
  }

#cabecalho nav #menu-lista {
    display: flex;
    position: static;
    width: auto;
    background: transparent;
    border: none;
  }

  #hero {
    min-height: 60vh;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding: 0 50px;
  }

  #hero p {
    padding: 0;
    margin-bottom: 20px;
  }

  .hero-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
  }

  .hero-conteudo h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 10px;
    text-shadow: 0px 0px 20px rgba(102, 252, 241, 0.3);
  }

  .hero-conteudo p {
    font-size: 1.1rem;
    color: #a0a0a0;
    line-height: 1.6;
  }

  #hero img {
    width: 50%;
    margin: 0 1em;
    order: 0;
    max-width: 100%;
  }

  #hero .seletor-cores {
    margin-left: 1em;
  }

  #container-beneficios {
    grid-template-columns: repeat(3, 1fr);
  }

  #rodape {
    flex-direction: row;
    justify-content: space-between;
  }

  /*HOVER E BOTÕES*/

  .botao-destaque {
    transition:
      transform 0.3s,
      box-shadow 0.3s;
      cursor: pointer;
  }

  .botao-destaque:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px var(--cor-destaque);
  }

  #cabecalho nav a {
    transition: color 0.3s;
  }

  #cabecalho nav a:hover {
    color: var(--cor-destaque);
  }

  #cabecalho nav .botao-destaque:hover {
    color: #000;
  }

  .accordion:hover, .accordion.active {
    background-color: #333;
    color: var(--cor-destaque); 
}
}
