* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS */

:root {
    --cor-de-fundo: #0B0C10;   
    --cor-texto: #C5C6C7;      
    --cor-destaque: #66FCF1;   
}

/* GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Seletores gerais */

body {
    background: var(--cor-de-fundo);
    color: var(--cor-texto);
    font-family: "Montserrat", sans-serif;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
}

li {
    list-style: none;
}

/* Seletores específicos */

/* ESTRUTURA */

#cabecalho {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    align-items: center;
}

#cabecalho ul {
    display: flex;
    flex-direction: column;
}

#cabecalho li {
    margin: 5px 0 15px 0;
}

#hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;

}



#hero img {
    width: 80%;
    margin: 20px auto;
}

#container-beneficios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    gap: 20px;

}

.card img {
    width: 90px;
    height: 90px;
    margin: 20px;
    border: 1px solid black;
}

.espacamento-imagem {
    padding: 1em;
}

.card-info {
    padding: 10px;
}

.card-info p {
    margin-top: 1em;
}

#rodape {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#redes-sociais {
    display: flex;
    
    
}

#redes-sociais img {
    width: 50px;
    margin: 1em;
}

/* ESTILIZAÇÃO */

#logo-marca {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--cor-texto);
    letter-spacing: 2px;
}

.destaque-logo {
    color: var(--cor-destaque);

}

.botao-destaque {
    background: var(--cor-destaque);
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 800px;
    color: var(--cor-de-fundo);
    letter-spacing: 1px;

}


.card img,
#redes-sociais img {
    background-color: var(--cor-texto); 
    padding: 5px;
    border-radius: 5px; 
}













